<?xml version="1.0"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
	<appSettings>
		<add key="LoggingConnectionString" value="Data Source=(local);Integrated Security=SSPI;Initial Catalog=Logging;" />
	</appSettings>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
			<parameters>
        <parameter value="Data Source=(local); Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>

		</defaultConnectionFactory>
		<!--<contexts>
			<context type="Whatsnexx.Logging.Data.Context.LoggingContext, Whatsnexx.Logging">
				--><!--<databaseInitializer type="Blogging.MyCustomBlogInitializer, MyAssembly" />--><!--
			</context>
		</contexts>-->
	</entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup><connectionStrings><add name="LoggingEntities" connectionString="metadata=res://*/Logging.csdl|res://*/Logging.ssdl|res://*/Logging.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=M17XR3-08;initial catalog=Logging;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
